<div id="warpper" class="clearfix">
    <div class="content">
        <div id="right-bar" class="clearfix">
            <div class="sep20"></div>
            <div class="box">
                <div class="header clearfix">
                    <div class="head-icon clearfix">
                        <img src="/images/headicon.png" alt="" style="max-width: 48px; max-height: 48px">
                        <span class="fade" id="userId">birdieLee</span>
                    </div>
                    <ul>
                        <li style="border: none">
                            <a href="javascript:;">
                                <span id="node-collect">0</span>
                                <div class="sep3"></div>
                                <p class="fade">节点收藏</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span id="topic-collect">0</span>
                                <div class="sep3"></div>
                                <p class="fade">主题收藏</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span id="attention-collect">0</span>
                                <div class="sep3"></div>
                                <p class="fade">特别关注</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="cell">
                    <div class="bg-bar">
                        <div class="bar"></div>
                    </div>
                </div>
                <div class="cell" style="height: 35px; line-height: 35px;">
                    <a href="/new">
                        <img src="/images/create.png" alt="" style="width: 32px; height: 32px;">
                    </a>
                    <span class="create-topic">创作新主题</span>
                </div>
                <div class="inner">
                    <div class="fr">
                        <a href="/user/balance" class="balance-area">0
                            <img src="/images/money.png" alt="" style="vertical-align: text-bottom">
                        </a>
                    </div>
                    <a href="notification">0条未读信息</a>
                </div>
                <div class="dock_area">
                    <div class="inner">
                        <span>&nbsp;>&nbsp;</span>
                        <a href="/user/balance">在你开始发帖之前,请领取资本</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="main">
            <div class="sep20"></div>
            <div class="box">
                <div class="cell">
                    <div class="fr" style="margin:-3px -8px 0px 0px">
                        <a href="#" class="tab">社区财富排行榜</a>
                        <a href="#" class="tab">社区消费排行榜</a>
                        <a href="#" class="tab">充值</a>
                    </div>
                    <a href="#">V2EX</a>
                    <span class="chevron">&nbsp;>&nbsp;</span>
                    账户余额
                    <span class="fa fa-clock"></span>
                </div>
                <div class="cell current">
                    <p class="current-balance">当前账户余额</p>
                    <a href="/balance" class="balance-area">0
                        <img src="/images/money.png" alt="" style="vertical-align: text-bottom">
                    </a>
                </div>
                <div class="balance-title">
                    <ul>
                        <li style="width: 130px">时间</li>
                        <li style="width: 100px;">类型</li>
                        <li style="width: 60px">数额</li>
                        <li style="width: 60px">余额</li>
                        <li style="width: 403px">描述</li>
                    </ul>
                </div>
            </div>
            <div class="box">
                <div class="header">可完成的任务</div>
                <div class="inner">
                    <h2>获得初始资本</h2>
                    <p>
                        欢迎来到 V2EX，这是一个关于分享和探索的社区。你在进入这里时，你会获得 2000 铜币。接下来你在社区内的一切行为，
                        包括创建主题和回复等，都将会消耗铜币。而当你完成了一些有意义的事情时，你就会收获铜币，以及，好心情
                    </p>
                    <strong>任务奖励</strong>
                    <div class="balance_area">
                        20
                        <img src="/images/balance.png" alt="">
                    </div>
                    <input type="button" value="完成任务" class="button normal super" style="margin-top: 20px">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/components/jquery/dist/jquery.min.js"></script>
