<div id="warpper" class="clearfix">
    <div class="content">
        <div id="right-bar" class="clearfix">
            <div class="sep20"></div>
            <div class="box">
                <div class="header clearfix">
                    <div class="head-icon clearfix">
                        <img src="/images/headicon.png" alt="" style="max-width: 48px; max-height: 48px">
                        <span class="fade" id="userId">{{user.loginname}}</span>
                    </div>
                    <ul>
                        <li style="border: none">
                            <a href="javascript:;">
                                <span id="node-collect">0</span>
                                <div class="sep3"></div>
                                <p class="fade">节点收藏</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span id="topic-collect">0</span>
                                <div class="sep3"></div>
                                <p class="fade">主题收藏</p>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span id="attention-collect">0</span>
                                <div class="sep3"></div>
                                <p class="fade">特别关注</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="cell">
                    <div class="bg-bar">
                        <div class="bar"></div>
                    </div>
                </div>
                <div class="cell" style="height: 35px; line-height: 35px;">
                    <a href="/comments/new">
                        <img src="/images/create.png" alt="" style="width: 32px; height: 32px;">
                    </a>
                    <span class="create-topic">创作新主题</span>
                </div>
                <div class="inner">
                    <div class="fr">
                        <a href="/user/balance" class="balance-area">0
                            <img src="/images/money.png" alt="" style="vertical-align: text-bottom">
                        </a>
                    </div>
                    <a href="notification">0条未读信息</a>
                </div>
                <div class="dock_area">
                    <div class="inner">
                        <span>&nbsp;>&nbsp;</span>
                        <a href="/user/balance">领取今日登陆奖励</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="main">
           <div class="sep20"></div>
            <div class="box">
                <div class="inner">
                    <a href="#" class="tab-current">技术</a>
                    <a href="#" class="tab">创意</a>
                    <a href="#" class="tab">好玩</a>
                    <a href="#" class="tab">Apple</a>
                    <a href="#" class="tab">酷工作</a>
                    <a href="#" class="tab">交易</a>
                    <a href="#" class="tab">城市</a>
                    <a href="#" class="tab">问与答</a>
                    <a href="#" class="tab">最热</a>
                    <a href="#" class="tab">全部</a>
                    <a href="#" class="tab">R2</a>
                    <a href="#" class="tab">节点</a>
                    <a href="#" class="tab">关注</a>
                </div>
                <div class="cell" style="padding: 0">
                    <ul class="type-title">
                        <li><a href="#">程序员</a></li>
                        <li><a href="#">Python</a></li>
                        <li><a href="#">iDev</a></li>
                        <li><a href="#">Android</a></li>
                        <li><a href="#">Linux</a></li>
                        <li><a href="#">node.js</a></li>
                        <li><a href="#">云计算</a></li>
                        <li><a href="#">宽带症候群</a></li>
                    </ul>
                </div>
                <div class="cell item">
                    <a href="#" class="content-item-icon">
                        <img src="/images/head-icon.png" alt="">
                    </a>
                    <div class="content-item-title">
                        <a href="#" id="article-title">录了几个有关Github的视频,我觉得你也应该知道这些</a>
                        <div style="height: 10px"></div>
                        <span class="small fade">
                            &nbsp;.&nbsp;
                            <a href="#" class="node">PHP</a>
                            &nbsp;.&nbsp;
                            <strong><a href="#">xiaolili</a></strong>
                             &nbsp;.&nbsp;
                             <strong>几秒前</strong>
                            &nbsp;.&nbsp;最后回复来自
                            <strong><a href="#">xiaojunjun</a></strong>
                        </span>
                    </div>
                    <div class="reply-count">
                        <a href="#" class="count">255</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/components/jquery/dist/jquery.min.js"></script>
