<div id="warpper" class="clearfix">
    <div class="content">
        <div id="right-bar" class="clearfix">
            <div class="sep20"></div>
            <div class="box">
                <div class="cell">
                    <span>发帖提示</span>
                </div>
                <div class="topic-comment">
                    <ul>
                        <li>
                            <span>主题标题</span>
                            <p>请在标题中描述内容要点。如果一件事情在标题的长度内就已经可以说清楚，那就没有必要写正文了。</p>
                        </li>
                        <li>
                            <span>正文</span>
                            <p>可以在正文中为你要发布的主题添加更多细节。V2EX 支持 GitHub Flavored Markdown 文本标记语法。</p>
                            <p>在正式提交之前，你可以点击本页面左下角的“预览主题”来查看 Markdown 正文的实际渲染效果。</p>
                        </li>
                        <li>
                            <span>选择节点</span>
                            <p>在最后，请为你的主题选择一个节点。恰当的归类会让你发布的信息更加有用。</p>
                            <p>你可以在主题发布后 300 秒内，对标题或者正文进行编辑。同时，在 300 秒内，你可以重新为主题选择节点。</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="box"  style="margin-top: 30px">
                <div class="cell">
                    <span>社区指导原则</span>
                </div>
                <div class="topic-comment">
                    <ul>
                        <li>
                            <span>尊重原创</span>
                            <p>请不要在 V2EX 发布任何盗版下载链接，包括软件、音乐、电影等等。V2EX 是创意工作者的社区，我们尊重原创。</p>
                        </li>
                        <li>
                            <span>友好互助</span>
                            <p>保持对陌生人的友善。用知识去帮助别人。</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="main">
            <div class="sep20"></div>
            <div class="box">
                <div class="cell">
                    <a href="#">V2EX</a>
                    <span class="chevron">&nbsp;>&nbsp;</span>
                    创作新主题
                    <span class="fa fa-clock"></span>
                </div>
                <div class="cell" style="box-sizing: border-box;">
                    <span class="current-balance">主题标题</span>
                    <span class="fade fr" id="topic-word-num">120</span>
                </div>
                <div class="comments">
                    <input type="text" id='text-topic' maxlength="120" placeholder="请输入主题标题,如果标题能够表达完整内容,则正文可以为空">
                </div>
                <div class="cell" style="height: 15px;">
                    <span class="fade">正文</span>
                    <span class="fade fr" id="comments">20000</span>
                </div>
                <textarea name="" cols="30" rows="10" resize="none" id="new-comment" maxlength="20000"></textarea>
                <div class="cell">
                    <select name="" id="" data-placeolder="请选择一个节点">
                        <option value=""></option>
                        <option value="1990">1990 / 1990</option>
                        <option value="2015">2015 / 2015</option>
                        <option value="3ds">3DS / 3ds</option>
                        <option value="3g">3G / 3g</option>
                        <option value="4g">4G / 4g</option>
                        <option value="4sq">foursquare / 4sq</option>
                        <option value="528491">528491 / 528491</option>
                        <option value="accessory">配件 / accessory</option>
                    </select>
                    <div class="select-container">
                        <a href="javascript:;" class="select-choose select-default" id="choiceNode">
                            <span id="topicNode">请选择一个节点</span>
                            <div>
                                <b></b>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="select-drop" id="select-search" style="top: 401px; left: 59px; width: 300px;">
                    <div class="select-search2">
                        <input type="text" autocomplete="off" class="select-input" id="select-input">
                    </div>
                    <ul class="search-result" id="search-list">
                        <li class="select2-results-dept-0 select2-result select2-result-selectable">
                            1990 / 1990</li>

                        <li class="select2-results-dept-0 select2-result select2-result-selectable">
                            2015 / 2015
                        </li>
                        <li class="select2-results-dept-0 select2-result select2-result-selectable">
                            3DS / 3ds
                        </li>
                        <li class="select2-results-dept-0 select2-result select2-result-selectable">
                            3G / 3g
                        </li>
                        <li class="select2-results-dept-0 select2-result select2-result-selectable">
                            4G / 4g
                        </li>
                        <li class="select2-results-dept-0 select2-result select2-result-selectable">
                           foursquare / 4sq
                        </li>
                        <li class="select2-results-dept-0 select2-result select2-result-selectable">
                           528491 / 528491
                        </li>
                    </ul>
                </div>
                <div class="cell hot-node">
                    <span class="hot">最热节点</span>
                    <ul>
                        <li>
                            <a href="javascript:;">问与答</a>
                        </li>
                        <li>
                            <a href="javascript:;">二手交易</a>
                        </li>
                        <li>
                            <a href="javascript:;">分享发现</a>
                        </li>
                        <li>
                            <a href="javascript:;">酷工作</a>
                        </li>
                        <li>
                            <a href="javascript:;">程序员</a>
                        </li>
                        <li>
                            <a href="javascript:;">macOS</a>
                        </li>
                        <li>
                            <a href="javascript:;">分享创造</a>
                        </li>
                        <li>
                            <a href="javascript:;">Python</a>
                        </li>
                        <li>
                            <a href="javascript:;">shadowsocks</a>
                        </li>
                        <li>
                            <a href="javascript:;">iPhone</a>
                        </li>
                        <li>
                            <a href="javascript:;">VPS</a>
                        </li>
                    </ul>
                </div>
                <div class="cell">
                    <button style="padding: 5px 10px" id="watch">预览主题</button>
                    <button class="fr" style="padding: 5px 10px" id="send">发布主题</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/js/newComment.js"></script>
