<footer>
    <div id="footer-container">
        <div id="inner">
            <div class="footer-icon">
                <a href="javascript:;">
                    <img src="/images/fr.png" alt="">
                </a>
            </div>
              <strong class="clearfix">
                  <a href="javascript:;">关于</a>&nbsp;&nbsp;
                  <span class=""snow>.</span>&nbsp;&nbsp;
                  <a href="javascript:;">FAQ</a>&nbsp;&nbsp;
                  <span class=""snow>.</span>&nbsp;&nbsp;
                  <a href="javascript:;">我们的愿景</a>&nbsp;&nbsp;
                  <span class=""snow>.</span>&nbsp;&nbsp;
                  <a href="javascript:;">IP查询</a>&nbsp;&nbsp;
                  <span class=""snow>.</span>&nbsp;&nbsp;
                  <a href="javascript:;">广告投放</a>&nbsp;&nbsp;
                  <span class=""snow>.</span>&nbsp;&nbsp;
                  <a href="javascript:;">鸣谢</a>&nbsp;&nbsp;
                  <span class=""snow>.</span>&nbsp;&nbsp;
                  <a href="javascript:;">1827在线人数</a>&nbsp;&nbsp;
                  <span class=""snow>.</span>&nbsp;&nbsp;
                  <a href="javascript:;">上网首页</a>&nbsp;&nbsp;
                  <span class="snow">.</span>&nbsp;&nbsp;

              </strong>
            <span class="fade clearfix">最高纪录&nbsp;2039</span>&nbsp;&nbsp;
            <!--<span class="snow">.</span>&nbsp;&nbsp;-->
            <a href="#" class="language clearfix">&nbsp;&nbsp;
                <img src="/images/ball.png" alt="">&nbsp;&nbsp;
            </a>
            <div class="sep20 fade"></div>
            <div style="clear: both" class="text">创意工作者们的社区</div>
            <div class="sep5 fade"></div>
            <p class="text">World is powered by solitude</p>
            <div class="sep30 fade"></div>
            <div style="clear: both" class="text small">VERSION: 3.9.7.5 · 13ms · UTC 06:09 · PVG 14:09 · LAX 23:09 · JFK 02:09</div>
            <div class="sep5 fade"></div>
            <p class="text small">♥ Do have faith in what you're doing.</p>
            <div class="sep30"></div>
            <p class="gray  text">沪ICP备15015613号-1</p>
        </div>
    </div>
</footer>